.header
  .header__up
    .header__up__logo
      = link_to root_path, class: "tytle"  do
        droneMail
        = image_tag 'drone.jpg', size: "40x40", class: "header__up__logo__icon"
    .header__up__link
      = link_to new_drone_path, class: "link" do
        登録
      = link_to root_path, class: "link" do
        =icon("fa", "user")
        新規登録
      = link_to root_path, class: "link" do
        Mypage
  .header__serch
    = form_with url: '#' do |f|
      = f.text_field :search, placeholder: "キーワード入力", class: "header__serch__form"
      = button_tag type: "submit", class: "header__serch__btn" do
        = icon('fa', 'search fa-2x')
